{% extends "item/item_base.html" %}
{% load templatetag_handlebars %}
{% load bootstrap %}
{% block title %}Inbox{% endblock %}
{% block scripts %}
{% handlebars_js %}
<script>
$(document).ready(function() {
    elist.UI.initListView({{ items }});
});

</script>
{% endblock %}
{% block content %}
    <div class="span6">
        <div class="row-fluid">
            <div class="form-inline">
                <input type="text" placeholder="new item" id="new_item" name="new_item" class="input-large">
                <input type="button" id="add_item" value="add" class="btn btn-success">
            </div>
        </div>
        <div class="row-fluid">
            <div class="row6">
                <div id="items">
                    <div class="controls" id="items">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% tplhandlebars "item_row" %}
<label class="checkbox" id="item_{{ pk }}">
    <input type="checkbox" id="{{ pk }}">
    <span>{{ name }}</span>
    <div class="item-actions">
        <i class="icon-trash delete-item"></i>
    </div>
</label>
{% endtplhandlebars %}

{% endblock %}
