<label class="checkbox" id="item_{{ item.pk }}">
    <input type="checkbox" id="{{ item.pk }}">
    <span>{{ item|truncatechars:50 }}</span>
    <div class="item-actions">
        <i class="icon-trash delete-item"></i>
    </div>
</label>
